ansible==3.3.0
ansible-base==2.10.8
ansible-runner==1.4.7
cffi==1.14.5
cryptography==2.8
decorator==5.0.7
docutils==0.17.1
Jinja2==2.11.3
jmespath==0.9.5
jsonpath-ng==1.5.2
lockfile==0.12.2
MarkupSafe==1.1.1
netaddr==0.7.19
packaging==20.9
pbr==5.4.4
pexpect==4.8.0
ply==3.11
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.20
pyparsing==2.4.7
python-daemon==2.3.0
PyYAML==5.4.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.2
six==1.15.0
