ansible==2.9.0
ansible-runner==1.4.7
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==2.8
decorator==5.0.7
docutils==0.17.1
gitdb==4.0.7
GitPython==3.1.14
giturlparse==0.10.0
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
jmespath==0.9.5
jsonpath-ng==1.5.2
lockfile==0.12.2
MarkupSafe==1.1.1
netaddr==0.7.19
npath==0.0.1
packaging==20.9
pbr==5.4.4
pexpect==4.8.0
pluggy==0.13.1
ply==3.11
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.3
python-daemon==2.3.0
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.2
six==1.15.0
smmap==4.0.0
toml==0.10.2
urllib3==1.26.4
validators==0.18.2
